@font-face {
    font-family: 'Gentium Book Basic';
    src: url('../fonts/GentiumBookBasic.eot');
    src: url('..//fonts/demo.html') format('embedded-opentype'),
        url('../fonts/GentiumBookBasic.woff2') format('woff2'),
        url('../fonts/GentiumBookBasic.woff') format('woff'),
        url('../fonts/GentiumBookBasic.ttf') format('truetype'),
        url('../fonts/GentiumBookBasic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

