@media(max-width: 480px){
    
    /* <<< Section1 >>> */
    
    .section1{
        width: 100%;
        height: 956px;
    }

    .section1_text{
        font-size: 24px;
        line-height: 28px;
        margin: 647.76px 56px 91px 56px;
        height: 152px;
    }
    
    /* <<< Header >>> */

    header{
        padding: 9.44px 30px 0px 30px;
    }

    header img{
        width: 49px;
        height: 76px;
    }

    header nav{
        display: none;
    }

    .fa-bars{
        display: block
    }

    /* <<< Section2 >>> */

    .section2{
        padding: 37px 0px 180px 0px;
    }

    .section2_title{
        font-size: 40px;
        margin-bottom: 56px;
    }

    .cards{
        flex-wrap: wrap;
        gap: 128px;
    }

    .card{
        width: 100%;
        height: 416px;
    }

    /* <<< Article >>> */

    article{
        padding: 43px 0px 88px 0px;
    }

    .article_title{
        font-size: 40px;
        margin-bottom: 56px;
    }

    .articale{
        flex-direction: column;
    }

    article img{
        width: 100%;
        height: 406px;
    }

    article p{
        width: 100%;
        height: 432px;
        padding: 70px 44px 71px 44px;
        font-size: 24px;
        line-height: 28px;
    }

    /* <<< Footer >>> */

    footer{
        padding: 55px 142px 55px 141px;
        justify-content: center;
    }

    footer img{
        display: none;
    }

    .footer_icones{
        gap: 46px;
    }

    footer i{
        font-size: 35px;
    }
}
