
/* <<< Container >>> */

.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto; 
}

/* <<< Section1 >>> */

.section1{
    width: 100%;
    height: 2414px;
    background-image: url("../images/background_photo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section1_text{
    font-family: 'Gentium Book Basic';
    font-size: 64px;
    line-height: 74px;
    font-weight: 700;
    color: #C0B4B4;
    text-align: center;
    margin: 1563px 200px 304px 200px;
}

/* <<< Header >>> */

header{
    width: 100%;
    padding: 52px 34px 0px 147px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    gap: 55px;
}

li{
    color: #FFFFFF;
    font-family: 'Gentium Book Basic';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    border: 3px solid transparent;
    padding: 10px 27px 18px 31px;
    transition: 2s linear;
}

li:hover{
    cursor: pointer;
    border: 3px solid #FFFFFF;
    
}

.fa-bars{
    display: none;
    background-color: #F8F8F8;
    font-size: 40px;
    line-height: 60px;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50%;
}

/* <<< Section2 >>> */

.section2{
    width: 100%;
    background-color: #393838;
    padding: 90px 0px 142px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section2_title{
    font-family: 'Gentium Book Basic';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    color: #FFFFFF;
    margin-bottom: 239px;
}

.cards{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.card{
    width: 30%;
    height: 522px;
}

.card:hover{
    cursor: pointer;
    box-shadow: 0px 30px 10px -10px #0B0101;
}

.card img{
    width: 100%;
    height: 100%;
}

/* <<< Article >>> */

article{
    width: 100%;
    background-color: #2C2929;
    padding: 33px 0px 105px 0px;
}

.article_title{
    font-family: 'Gentium Book Basic';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 106px;
}

.article{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.article img{
    width: 50%;
    height: 557px;
}

.article p{
    width: 49%;
    height: 557px;
    background-color: #8E8B8B;
    padding: 70px 52px;
    font-family: 'Gentium Book Basic';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: justify;
    color: #FFFFFF;
    }

/* <<< Footer >>> */

footer{
    width: 100%;
    background-color: #393838;
    padding: 83px 144px 83px 145px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_icons{
    display: flex;
    gap: 37px;
}

footer i{
    font-size: 60px;
    color: #F8F8F8;
}

footer i:hover{
    cursor: pointer;
    color: rgb(242, 242, 69);
}